<div class="container">
	<div class="row  mt-4 mb-4">
		<div class="col-8">
			<div class="row">
				<h3>Contact information</h3>
				<label for="buyer-phone" class="form-label">Mobile phone</label>
				<div class="input-group">
					<span class="input-group-text" id="buyer-phone-prefix-addon">+38</span>
					<input type="text" class="form-control" id="buyer-phone"
						aria-describedby="buyer-phone-prefix-addon">
				</div>
			</div>
			<h3 class="mt-4">Payment</h3>
			<div class="row btn-group-vertical w-100">
				<input type="radio" class="btn-check" name="payment-radio-group"
					[checked]="order.payment.type == OrderPaymentType.Card">
				<label class="btn btn-outline-dark w-100"
					(click)="choosePaymentType(OrderPaymentType.Card)">Card</label>
				<!--<div class="collapse" [class.show]="order.payment.type == OrderPaymentType.Card">
					Some placeholder content for the collapse component. This panel is hidden by default but
					revealed when the user
					activates the relevant trigger.
				</div>-->
				<input type="radio" class="btn-check" name="payment-radio-group"
					[checked]="order.payment.type == OrderPaymentType.Cash">
				<label class="btn btn-outline-dark w-100" (click)="choosePaymentType(OrderPaymentType.Cash)">
					Cash
				</label>
				<!--<div class="collapse" [class.show]="order.payment.type == OrderPaymentType.Cash">
					Some placeholder content for the collapse component. This panel is hidden by default but
					revealed when the user
					activates the relevant trigger.
				</div>-->
			</div>
			<h3 class="mt-4">Delivery</h3>
			<div class="row btn-group-vertical w-100">
				<input type="radio" class="btn-check" name="delivery-radio-group"
					[checked]="order.delivery.type == OrderDeliveryType.Pickup">
				<label class="btn btn-outline-dark w-100" (click)="chooseDeliveryType(OrderDeliveryType.Pickup)">
					Pickup
				</label>
				<div class="collapse" [class.show]="order.delivery.type == OrderDeliveryType.Pickup">
					Pickup from our shop which is located at...
				</div>
				<input type="radio" class="btn-check" name="delivery-radio-group"
					[checked]="order.delivery.type == OrderDeliveryType.NovaPoshta">
				<label class="btn btn-outline-dark w-100" (click)="chooseDeliveryType(OrderDeliveryType.NovaPoshta)">
					NovaPoshta
				</label>
				<div class="collapse" [class.show]="order.delivery.type == OrderDeliveryType.NovaPoshta">
					<div class="dropdown">
						<input class="form-control" type="text" placeholder="Search for destination warehouse"
							(input)="novaposhtaSearchForWarehouse($event)">
						<ul class="dropdown-menu" [class.show]="novaposhtaWarehouses.length > 0 && !novaposhtaWarehouse">
							<li *ngFor="let warehouse of novaposhtaWarehouses">
								<button class="dropdown-item" (click)="novaposhtaChooseWarehouse(warehouse)">
									{{warehouse.Description}}
								</button>
							</li>
						</ul>
					</div>
					<div *ngIf="novaposhtaWarehouse">
						<p>{{novaposhtaWarehouse.Description}}</p>
						<p>{{novaposhtaWarehouse.Phone}}</p>
						<p>Monday: {{novaposhtaWarehouse.Schedule.Monday}}</p>
						<p>Tuesday: {{novaposhtaWarehouse.Schedule.Tuesday}}</p>
						<p>Wednesday: {{novaposhtaWarehouse.Schedule.Wednesday}}</p>
						<p>Thursday: {{novaposhtaWarehouse.Schedule.Thursday}}</p>
						<p>Friday: {{novaposhtaWarehouse.Schedule.Friday}}</p>
						<p>Saturday: {{novaposhtaWarehouse.Schedule.Saturday}}</p>
						<p>Sunday: {{novaposhtaWarehouse.Schedule.Sunday}}</p>
					</div>
				</div>
				<input type="radio" class="btn-check" name="delivery-radio-group"
					[checked]="order.delivery.type == OrderDeliveryType.UkrPoshta">
				<label class="btn btn-outline-dark w-100" (click)="chooseDeliveryType(OrderDeliveryType.UkrPoshta)">
					UkrPoshta
				</label>
				<div class="collapse" [class.show]="order.delivery.type == OrderDeliveryType.UkrPoshta">
					Whatever...
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="border border-dark-subtle rounded p-4">
				<h4>Cart:</h4>
				<div class="pt-2">
					<div *ngFor="let product of products" class="card mb-1" style="max-height: 60px;">
						<div class="row g-0">
							<div class="col-md-4">
								<img [src]="product.model.imageUrl" style="max-height: 60px;"
									class="img-fluid rounded-start" [alt]="product.model.title">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">
										{{product.model.title}} - {{product.amount}}x{{product.model.price}}₴
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pt-4">
					<h4>Total: {{total}}₴</h4>
					<a class="btn btn-outline-dark btn-lg w-100" (click)="placeOrder()">
						{{order.payment.type == OrderPaymentType.Card ? "Go to payment" : "Confirm the order"}}
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
